@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  overflow-x: hidden;
}












/* header */
.header {
  z-index: 2;
  position: absolute;
  width: 100%;
  padding-top: 3rem;
}

.header-title {
  float: left;
  padding-left: 8rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.header-right {
  display: flex;
  justify-content: end;
  padding-right: 6rem;
}

.header-padding {
  padding-right: 3rem;
  color: #7D8877;
  font-weight: 500;
}

.selected {
  color: white
}

.header-hamburger {
  display: none;
}










/* section 1 */
.hero {
  margin-bottom: 0.5rem;
}

.hero-row-left {
  background-color: #D4EAF5;
  display: flex;
  flex-direction: column;
}

.hero-row-left-padding {
  padding-left: 6rem;
  padding-top: 13rem;
}

.hero-content-button {
  background-color: white;
  color: #619AB6;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: smaller;
  font-weight: 600;
  border: none;
}

.hero-row-img-container {
  background-image: url("./assets/images/xbg_2.webp");
  background-size: cover;
  background-position: center center;
  height: 80vh;
}

.hero-content-text {
  font-size: 3.1rem;
  line-height: 2.5rem;
}

.hero-content-text-top {
  font-weight: 200;
}

.hero-content-text-middle {
  font-weight: bold;
}

.hero-content-text-last {
  color: #B3B1B1;
  font-size: medium;
  padding-right: 18rem;
  margin-bottom: 1.8rem;
}

.hero-content{
  position: absolute;
  z-index: 2;
  top: 20%;
  width: 100%;
  padding: 4rem 40rem 4rem 8rem;
}












/* section 2 */
.quality {
  margin-left: 0.5rem;
}

.quality-card-head{
  padding: 2.5rem 5rem 0rem 0.7rem;
}

.quality-card{
  padding-left: 1.3rem;
  border: 0;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.quality-card1 {
  background-color: #F6EBEB;
}

.quality-card2 {
  background-color: #DDEBDD;
}

.quality-card3 {
  background-color: #F5EFD8;
}

.quality-card4 {
  background-color: #F3E6D9;
}

.quality-card-icon-stack {
  font-size: 2rem;
  color: #CB9696;
}

.quality-card-icon {
  font-size: 1.7rem;
}

.quality-card-body-text {
  margin-bottom: 3rem;
  font-size: 1.1rem;
  color: #9A9A99;
  font-weight: 400;
  padding-right: 2rem;
}










/* section 3 */
.about {
  background-image: url("./assets/images/xbg_4.webp");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 85vh;
  margin-bottom: 8.2rem;
}

.about-content {
  padding-top: 12em;
  /* padding-left: 35rem; */
}

.title-text {
  font-weight: 600;
  font-size: smaller;
  letter-spacing: 1px;
  color: #B3B1B1;
}

.production-heading {
  font-size: 36px;
  font-weight: 500;
}

.about-content-heading {
  font-size: 36px;
  font-weight: 500;
}

.about-content-text {
  margin-bottom: 3rem;
  font-size: 0.97rem;
  color: #9A9A99;
  font-weight: 400;
}

.about-content-icon {
  color: #CF7832;
  font-weight: bold;
}

.about-content-container {
  display: flex;
  align-items: center;
}

.about-content-icon-play {
  font-size: 5rem;
  margin-right: 1.3rem;
}

.about-content-icon-text {
  padding-top: 20px;
  font-weight: 600;
}
















/* section 4 */
.gallery-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4.5rem;
}

.gallery-head-title {
  font-size: 36px;
  font-weight: 500;
}

.gallery-container {
  display: flex;
  flex-direction: column;
}

.gallery-row {
  height: 45vh;
}

.gallery-row-margin {
  margin-bottom: 0.5rem;
}

.gallery-row-img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.gallery-row-img-last {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.gallery-row-text {
  z-index: 2;
  position: absolute;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  padding-left: 1.4rem;
  display: none;
}

.gallery-row-text1 {
  padding-top: 9rem;
}

.gallery-row-text2 {
  padding-top: 20rem;
}

.gallery-row-text3 {
  padding-top: 31rem;
}









/* section 5 */
.stats {
  background-color: #D4EAF5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.stats-heading {
  font-size: 36px;
  font-weight: 500;
}

.stats-title {
  margin-bottom: 0.7rem;
  font-weight: 600;
  font-size: smaller;
  letter-spacing: 1px;
  color: #B3B1B1;
}

.stats-card-num {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0;
}

.stats-card-statement {
  color: #84929A;
  font-weight: bold;
  font-size: smaller;
}

.stats-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
}










/* testimonial */
.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9rem;
  background-color: #F7F7F7;
  padding-bottom: 2rem;
}

.testimonial-title {
  margin-bottom: 0.7rem;
}

.testimonial-card-body-text {
  font-size: 1.1rem;
  color: #9A9A99;
  font-weight: 300;
}

.testimonial-head-text {
  font-size: 36px;
  font-weight: 500;
}

.testimonial-card2 {
  background-color: #CF7832;
  color: white;
  font-size: 1.1rem;
  font-weight: 300;
}

.testimonial-card-margin {
  margin-right: 1.5rem;
}

.testimonial-card {
  border: none;
  position: relative;
}

.testimonial-card-img {
  width: 27%;
  height: 27%;
}

.testimonial-card-body-bottom {
  display: flex;
}

.testimonial-card-name {
  flex-direction: column;
  padding-left: 1.3rem;
  padding-top: 1rem;
}

.testimonial-name {
  color: #CF7832;
  font-size: 1.4rem;
  margin: 0;
}

.testimonial-card2-name {
  font-size: 1.4rem;
  margin: 0;
}

.testimonial-card-icon-stack {
  font-size: 1.35rem;
  color: #CF7832;
}

.testimonial-card-icon-stack2 {
  font-size: 1.35rem;
  color: white;
}

.testimonial-card-icon2 {
  font-size: 1.7rem;
  color: #CF7832;
}

.testimonial-card-icon {
  position: absolute;
  top: -1.2rem;
  left: 1rem;
}

.testimonial-card-body-padding {
  padding: 1rem;
}

.testimonial-head-margin {
  margin-bottom: 7rem;
}

.testimonial-slider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 0rem;
}

.testimonial-slider-indicator {
  width: 2rem;
  height: 2px;
  background-color: rgba(50,50,50,0.2);
  margin: 0 0.25rem;
}

.active {
  background-color: #CF7832;
}

.indicator-display {
  display: none;
}

.production {
  display: flex;
  align-items: center;
  padding-top: 10rem;
  flex-direction: column;
}

.production-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.production-card-content-heading {
  font-size: 1.5rem;
  font-weight: 500;
}

.production-card-content-text {
  font-size: 1rem;
  color: #9A9A99;
  font-weight: 400;
  padding-right: 1.2rem;
}

.production-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.production-card-icon {
  color: #CF7832;
  font-size: 5rem;
}

.production-card-icon2 {
  color: black;
  font-size: 4.6rem;
}

.production-card-icon-container {
  background-color: white;
  height: 9.5rem;
  width: 9.5rem;
  border-radius: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.production-card-icon-container2 {
  background-color: #80C3E2;
}

.production-card-badge {
  position: absolute;
  top: 0.25rem;
  right: 0rem;
  height: 2.15rem;
  width: 2.15rem;
  border-radius: 25rem;
  background-color: #CF7832;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 300;
}

.production-line {
  margin: 5rem 10rem;
  position: absolute;
  border: none;
  border-top: 0.11rem dashed #ddd9d9;
  background-color: #F7F7F7;
  height: 1px;
  width: 50%;
}

.production-card-buttons {
  top: 20.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.production-card-button {
  color: #619AB6;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: smaller;
  font-weight: 600;
  border: none;
  color: white
}

.production-card-button1 {
  background-color: #CF7832;
  padding-bottom: 1rem;
}

.production-card-button2 {
  background-color: #80C3E2;
}

.button-display2 {
  display: none;
}



















/* blog */
.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9rem;
  margin-bottom: 8rem;
}

.blog-title {
  margin-bottom: 0.7rem;
  font-weight: 600;
  font-size: smaller;
  letter-spacing: 1px;
  color: #B3B1B1;
  padding: 2rem;
}

.blog-heading {
  font-size: 36px;
  font-weight: 500;
}

.blog-card {
  padding: 0rem 2rem;
}

.blog-card-heading {
  font-size: 1.3rem;
  font-weight: 500;
}

.blog-img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.blog-content {
  margin: 2rem 7rem 0rem 7rem;
}

.blog-row {
  background-color: #FAFAFA;
  min-height: 40vh;
}

.blog-info {
  padding: 2rem;
}

.blog-info-icon {
  color: #CF7832;
  font-size: 0.75rem;
}

.blog-info-detail {
  font-weight: 500;
  font-size: smaller;
  color: #999AAA;
  padding-right: 0.6rem;
}

.blog-info-comment {
  font-weight: 500;
  font-size: smaller;
  color: #CF7832;
  padding-right: 0.6rem;
  padding-left: 0.2rem;
}
















/* footer */
.footer {
  background-color: #D4EAF5;
  padding-bottom: 6.5rem;
}

.footer-furnish-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.footer-furnish {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 7rem 0rem 0.5rem 7rem;
}

.footer-part {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 7rem 0rem 0rem 2rem;
}

.footer-text {
  color: #8694A1;
  font-size: medium;
}

.footer-heading {
  font-size: 1.5rem;
  font-weight: 400;
}

.footer-top-padding {
  padding-top: 2rem;
}

.footer-arrow {
  font-size: 0.8rem;
  padding-right: 1rem;
  color: #A4D2E8;
}

.footer-furnish-icon-div {
  padding-left: 7rem;
}

.footer-furnish-icon {
  color: #6EB7DD;
  font-size: 2.3rem;
}

.footer-icon {
  color: #81c8e9;
  font-size: 1rem;
}

.footer-detail {
  font-weight: 500;
  font-size: 0.8rem;
  color: #999AAA;
}

.footer-margin {
  margin-bottom: 0.5rem;
}

.footer-img-div {
  height: 3rem;
}

.footer-img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.footer-post-text {
  font-size: 1.2rem;
  font-weight: 500;
}

.question-icon {
  color: #81c8e9;
  padding-right: 1rem;
}

.footer-text-francisco {
  padding-left: 2.1rem;
}

.footer-remove-top {
  margin-bottom: 0;
}















/* credit */
.credit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #AAD6EB;
  padding: 2rem;
}

.credit-copyright {
  color: #8694A1;
}

.credit-name {
  color: #7bb9d8;
  font-size: 1rem;
}












@media screen and (max-width: 1350px) {
  .hero-content-text-last {
    padding-right: 1rem;
  }
}

@media screen and (max-width: 1050px) {
  .production-line {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .hero-content-text-last {
    padding-right: 0;
    padding-top: 1rem;
    color: #72898D;
    font-size: 0.8rem;
  }

  .hero-content-text {
    font-size: 1.7rem;
    margin-bottom: 0;
  }

  .hero-content-text-middle {
    font-size: 1.7rem;
  }

  .hero-content {
    padding: 0 0 4rem 4rem;
  }

  .production-card-button {
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
  }
}


/* media queries */
@media screen and (max-width: 870px) {
  .header-hamburger {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 1rem;
    color: white;
    padding-top: 0.35rem;
  }

  .header-hamburger-padding {
    padding-left: 0.3rem;
  }

  .header {
    z-index: 1;
    width: 100%;
    padding-top: 1rem;
    background-color: rgb(48, 58, 86);
  }

  .furnish-head {
    padding-left: 1rem;
    color: white;
  }

  .header-right {
    display: none;
  }

  .hero-content {
    padding: 0 0 4rem 1rem;
  }

  .hero-row-img-container {
    height: 60vh;
  }










  .about {
    height: 70vh;
    margin-bottom: 5rem;
  }

  .about-content {
    padding-top: 5.4rem;
  }

  .about-content-heading {
    font-size: 2rem;
  }

  .about-content-text {
    font-size: 0.7rem;
  }







  .gallery-head-title {
    font-size: 1.7rem;
  }

  .gallery-head {
    margin-bottom: 3rem;
  }

  .gallery-row {
    height: fit-content;
    margin-bottom: 0;
  }

  .gallery-row-img {
    height: 20vh;
    margin-bottom: 0.25rem;
  }

  .gallery-row-img-last {
    height: 20vh;
  }










  .stats-card {
    padding-top: 0;
  }

  .stats-title {
    font-size: 0.5rem;
  }

  .stats-heading {
    font-size: 1.6rem;
  }





  .testimonial {
    padding-top: 6.5rem;
  }

  .testimonial-text-heading {
    font-size: 1.7rem;
  }

  .testimonial-card-body-text {
    font-size: 0.65rem;
  }

  .testimonial-card-body-padding {
    padding-left: 0;
    padding-right: 0;
  }

  .testimonial-card-display {
    display: none;
  }

  .testimonial-head-margin {
    margin-bottom: 5.6rem;
  }

  .testimonial-card-margin {
    margin-right: 0;
  }

  .indicator-display {
    display: block;
  }

  .testimonial-slider-indicator1 {
    background-color: rgba(50,50,50,0.2);
  }

  .testimonial-slider-indicator2 {
    background-color: #CF7832;
  }

  .production {
    padding-top: 5rem;
  }

  .production-card-content-heading {
    font-size: 0.8rem;
  }

  .production-card-content-text {
    font-size: 0.77rem;
    padding-right: 0;
  }

  .production-card-icon-container {
    height: 4.8rem;
    width: 4.8rem;
  }

  .production-card-icon, .production-card-icon2 {
    font-size: 2.4rem;
  }

  .production-card-badge {
    font-size: 0.7rem;
    top: 0rem;
    height: 1.5rem;
    width: 1.5rem;
  }

  .production-card-buttons {
    top: 29rem;
  }

  .testimonial-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }










  .blog {
    padding-top: 6rem;
  }

  .blog-heading {
    font-size: 1.8rem;
  }

  .blog-title {
    padding-bottom: 0;
  }

  .blog-content {
    margin: 0rem 0.5rem 0 0.5rem
  }

  .blog-row {
    height: fit-content;
    margin-bottom: 0.5rem;
  }

  .blog-info-detail, .blog-info-comment {
    font-size: 0.6rem;
  }

  .blog {
    margin-bottom: 4rem;
  }















  .footer-furnish {
    padding: 5rem 0rem 0.5rem 0.7rem;
  }

  .footer-furnish-icon-div {
    padding-left: 0.7rem;
  }

  .footer-part {
    padding: 1.5rem 0rem 0rem 0.7rem;
  }

  .footer-top-padding {
    padding-top: 0;
    padding-right: 2rem;
  }











  .credit {
    padding: 1rem;
    text-align: center;
  }
  .credit-copyright, .testimonial-name, .fa-copyright, .fa-heart, .credit-name {
    font-size: 0.6rem;
  }
}


@media screen and (max-width: 767px) {
  .button-display2 {
    display: block;
  }

  .button-display {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .blog-reverse {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 480px) {
  .footer-post-text {
    font-size: 0.6rem;
  }

  .footer-detail {
    font-size: 0.6rem;
  }

  .footer-icon {
    font-size: 0.6rem;
    padding-left: 0.2rem;
  }

  .gallery-row-text {
    display: block;
  }
}

@media screen and (max-height: 550px) {
  .hero-content-text-last {
    padding: 0;
    margin: 0;
  }

  .hero-content-button {
    padding: 0.2rem 0.4rem;
    font-size: 0.5rem;
  }

  .about {
    height: fit-content;
  }

  .gallery-row-img, .gallery-row-img-last {
    height: 40vh;
  }
}
